@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap");

body {
  background-color: #fbf7f5;
  padding: 90px;
  font-family: "Lato", sans-serif;
}

.bio {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
}
